<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youchuanlong.example.mapper.CarMapper">
   <select id="selectCarByUserId" resultType="com.youchuanlong.example.model.entity.CarEntity" parameterType="Long">
       select * from car where user_id = #{userId}
   </select>

</mapper>